<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.people.ua.peoplegroups">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icons_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icons_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Start" />
        <activity
            android:name=".Register"
            android:parentActivityName=".Start" />
        <activity android:name=".Main" />
        <activity
            android:name=".Login"
            android:parentActivityName=".Start" />
        <activity
            android:name=".ResetPassword"
            android:parentActivityName=".Login" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Upload_image" />
        <activity android:name=".Chat" />
        <activity android:name=".Galerey">

        </activity>
    </application>

</manifest>